[submodule "lede"]
	path = lede
	url = https://github.com/coolsnowwolf/lede.git
    shallow = true
    branch = master
    
[submodule "OpenClash"]
	path = OpenClash
	url = https://github.com/vernesong/OpenClash.git
	shallow = true
    branch = master

[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06

[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
    shallow = true
	branch = master

[submodule "openwrt-subconverter"]
	path = openwrt-subconverter
	url = https://github.com/tindy2013/openwrt-subconverter.git
    shallow = true
    branch = master
